.note {
    padding:10px 10px 10px 20px;
    height: auto; 
    margin: auto;
    margin-bottom: 8px;
    width: 100%;
    font-family: 'Consolas', sans-serif;
    font-size: 1.4em;
    color: #222;
    background-color: #eed; 
    border-radius: 3px;
    box-shadow: 43x 3px 2px #333;
    opacity: 1;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    display: flex;
}

.noteWrapper {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}
  
@keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@keyframes fadeOut { from { opactiy:0.8; } to { opacity:0; } }

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
}

.noteContent {
    float: left;
    width: 93%;
    padding-right: 15px;
    height: auto;
    white-space: pre-wrap;
} 

.removeNote {
    float: right;
    padding: 5px;
    border-radius: 2px;
}