html {
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background: 
    linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
    url('./Static/img/2.jpg');
  background-attachment: fixed;
  background-size: cover; 
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.notesWrapper {
  display: block;
  position: absolute;
  height: auto;
  overflow: auto;
  white-space: nowrap;
  padding: 20px;
}